# This is a git submodule file to include additional submodules when FATES is checkout out.
#
# It includes optional additional support for
# git-fleximod (https://github.com/ESMCI/git-fleximod)
# that will be used when git-fleximod is used to check it out (i.e. for CESM)
#
[submodule "tools/landusedata"]
	path = tools/landusedata
	url = https://github.com/NGEET/tools-fates-landusedata
	fxtag = v0.1.1
	fxrequired = AlwaysRequired
	# Standard Fork to compare to with "git fleximod test" to ensure personal forks aren't committed
	fxDONOTUSEurl = https://github.com/NGEET/tools-fates-landusedata
