# Test Results for /glade/derecho/scratch/afoster/tests_0618-145127de
## Testing Summary
A total of 45 tests were run 
 
<span style="color:red">29 BASELINE tests failed.</span>
 
<span style="color:red">1 COMPARE_base_modpes tests failed.</span>
 
<span style="color:red">2 COMPARE_base_rest tests failed.</span>
 
<span style="color:orange">1 COMPARE_base_rest tests are pending.</span>
 
<span style="color:red">11 MEMCOMP tests failed.</span>
 
<span style="color:red">2 RUN tests failed.</span>
 
## All Non-Passing Tests
|    | phase               | result   | name                                                                                             | path                                                                                                                                                                    |
|---:|:--------------------|:---------|:-------------------------------------------------------------------------------------------------|:------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
|  9 | BASELINE            | FAIL     | ERP_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                             | /glade/derecho/scratch/afoster/tests_0618-145127de/ERP_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold.C.0618-145127de_int                             |
|  9 | BASELINE            | FAIL     | ERP_D_P128x2_Ld3.f19_g17.I2000Clm50FatesCru.derecho_intel.clm-FatesCold                          | /glade/derecho/scratch/afoster/tests_0618-145127de/ERP_D_P128x2_Ld3.f19_g17.I2000Clm50FatesCru.derecho_intel.clm-FatesCold.C.0618-145127de_int                          |
|  9 | BASELINE            | FAIL     | ERP_Ld3.f09_g17.I2000Clm50FatesRs.derecho_intel.clm-FatesCold                                    | /glade/derecho/scratch/afoster/tests_0618-145127de/ERP_Ld3.f09_g17.I2000Clm50FatesRs.derecho_intel.clm-FatesCold.C.0618-145127de_int                                    |
|  9 | BASELINE            | FAIL     | ERP_Ld9.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdAllVars                   | /glade/derecho/scratch/afoster/tests_0618-145127de/ERP_Ld9.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdAllVars.C.0618-145127de_int                   |
|  9 | BASELINE            | FAIL     | ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_gnu.clm-FatesColdTwoStreamNoCompFixedBioGeo    | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_gnu.clm-FatesColdTwoStreamNoCompFixedBioGeo.C.0618-145127de_gnu    |
|  9 | BASELINE            | FAIL     | ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_intel.clm-FatesColdTreeDamage                  | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_intel.clm-FatesColdTreeDamage.C.0618-145127de_int                  |
|  9 | BASELINE            | FAIL     | ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_intel.clm-FatesColdTwoStream                   | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_intel.clm-FatesColdTwoStream.C.0618-145127de_int                   |
|  9 | BASELINE            | FAIL     | ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                               | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold.C.0618-145127de_gnu                               |
|  9 | BASELINE            | FAIL     | ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                             | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold.C.0618-145127de_int                             |
|  9 | BASELINE            | FAIL     | ERS_D_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLUH2                   | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLUH2.C.0618-145127de_int                   |
|  9 | BASELINE            | FAIL     | ERS_D_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLandUse                | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLandUse.C.0618-145127de_int                |
|  9 | BASELINE            | FAIL     | ERS_D_Ld5.f10_f10_mg37.I2000Clm50Fates.derecho_intel.clm-FatesCold                               | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld5.f10_f10_mg37.I2000Clm50Fates.derecho_intel.clm-FatesCold.C.0618-145127de_int                               |
|  9 | BASELINE            | FAIL     | ERS_D_Mmpi-serial_Ld5.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Mmpi-serial_Ld5.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold.C.0618-145127de_gnu                |
|  9 | BASELINE            | FAIL     | ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdFixedBiogeo              | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdFixedBiogeo.C.0618-145127de_int              |
|  9 | BASELINE            | FAIL     | ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdNoComp                   | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdNoComp.C.0618-145127de_int                   |
|  9 | BASELINE            | FAIL     | ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdNoCompFixedBioGeo        | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdNoCompFixedBioGeo.C.0618-145127de_int        |
|  9 | BASELINE            | FAIL     | ERS_Ld5.f19_g17.I2000Clm45Fates.derecho_intel.clm-FatesCold                                      | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Ld5.f19_g17.I2000Clm45Fates.derecho_intel.clm-FatesCold.C.0618-145127de_int                                      |
|  9 | BASELINE            | FAIL     | ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-Fates                             | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-Fates.C.0618-145127de_int                             |
|  9 | BASELINE            | FAIL     | ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLogging                  | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLogging.C.0618-145127de_int                  |
|  9 | BASELINE            | FAIL     | ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdPPhys                    | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdPPhys.C.0618-145127de_int                    |
|  9 | BASELINE            | FAIL     | ERS_Ld9.f10_f10_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdCH4Off                    | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Ld9.f10_f10_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdCH4Off.C.0618-145127de_int                    |
|  9 | BASELINE            | FAIL     | ERS_Lm12.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesFireLightningPopDens           | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Lm12.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesFireLightningPopDens.C.0618-145127de_int           |
|  9 | BASELINE            | FAIL     | ERS_Lm13.f10_f10_mg37.I2000Clm50Fates.derecho_gnu.clm-FatesCold                                  | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Lm13.f10_f10_mg37.I2000Clm50Fates.derecho_gnu.clm-FatesCold.C.0618-145127de_gnu                                  |
|  9 | BASELINE            | FAIL     | ERS_Lm13.f45_f45_mg37.I2000Clm50Fates.derecho_intel.clm-FatesColdNoComp                          | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Lm13.f45_f45_mg37.I2000Clm50Fates.derecho_intel.clm-FatesColdNoComp.C.0618-145127de_int                          |
|  9 | BASELINE            | FAIL     | ERS_P128x1_Lm25.f10_f10_mg37.I2000Clm60Fates.derecho_intel.clm-FatesColdNoComp                   | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_P128x1_Lm25.f10_f10_mg37.I2000Clm60Fates.derecho_intel.clm-FatesColdNoComp.C.0618-145127de_int                   |
|  8 | BASELINE            | FAIL     | SMS_Ld10_D_Mmpi-serial.CLM_USRDAT.I1PtClm60Fates.derecho_gnu.clm-FatesPRISM--clm-NEON-FATES-YELL | /glade/derecho/scratch/afoster/tests_0618-145127de/SMS_Ld10_D_Mmpi-serial.CLM_USRDAT.I1PtClm60Fates.derecho_gnu.clm-FatesPRISM--clm-NEON-FATES-YELL.C.0618-145127de_gnu |
|  8 | BASELINE            | FAIL     | SMS_Lm13.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                             | /glade/derecho/scratch/afoster/tests_0618-145127de/SMS_Lm13.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold.C.0618-145127de_gnu                             |
|  8 | BASELINE            | FAIL     | SMS_Lm13.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                           | /glade/derecho/scratch/afoster/tests_0618-145127de/SMS_Lm13.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold.C.0618-145127de_int                           |
|  8 | BASELINE            | FAIL     | SMS_Lm6.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-Fates                              | /glade/derecho/scratch/afoster/tests_0618-145127de/SMS_Lm6.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-Fates.C.0618-145127de_int                              |
|  8 | COMPARE_base_modpes | FAIL     | PEM_D_Ld15.f10_f10_mg37.I2000Clm50FatesRs.derecho_gnu.clm-FatesColdSeedDisp                      | /glade/derecho/scratch/afoster/tests_0618-145127de/PEM_D_Ld15.f10_f10_mg37.I2000Clm50FatesRs.derecho_gnu.clm-FatesColdSeedDisp.C.0618-145127de_gnu                      |
|  8 | COMPARE_base_rest   | FAIL     | ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_gnu.clm-FatesColdTwoStreamNoCompFixedBioGeo    | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_gnu.clm-FatesColdTwoStreamNoCompFixedBioGeo.C.0618-145127de_gnu    |
|  8 | COMPARE_base_rest   | FAIL     | ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_intel.clm-FatesColdTwoStream                   | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_intel.clm-FatesColdTwoStream.C.0618-145127de_int                   |
|  8 | COMPARE_base_rest   | PEND     | ERP_P256x2_Ld30.f45_f45_mg37.I2000Clm60FatesRs.derecho_intel.clm-mimicsFatesCold                 | /glade/derecho/scratch/afoster/tests_0618-145127de/ERP_P256x2_Ld30.f45_f45_mg37.I2000Clm60FatesRs.derecho_intel.clm-mimicsFatesCold.C.0618-145127de_int                 |
| 10 | MEMCOMP             | FAIL     | ERP_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                             | /glade/derecho/scratch/afoster/tests_0618-145127de/ERP_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold.C.0618-145127de_int                             |
| 10 | MEMCOMP             | FAIL     | ERP_D_P128x2_Ld3.f19_g17.I2000Clm50FatesCru.derecho_intel.clm-FatesCold                          | /glade/derecho/scratch/afoster/tests_0618-145127de/ERP_D_P128x2_Ld3.f19_g17.I2000Clm50FatesCru.derecho_intel.clm-FatesCold.C.0618-145127de_int                          |
| 10 | MEMCOMP             | FAIL     | ERP_Ld3.f09_g17.I2000Clm50FatesRs.derecho_intel.clm-FatesCold                                    | /glade/derecho/scratch/afoster/tests_0618-145127de/ERP_Ld3.f09_g17.I2000Clm50FatesRs.derecho_intel.clm-FatesCold.C.0618-145127de_int                                    |
| 10 | MEMCOMP             | FAIL     | ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                               | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold.C.0618-145127de_gnu                               |
| 10 | MEMCOMP             | FAIL     | ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                             | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold.C.0618-145127de_int                             |
| 10 | MEMCOMP             | FAIL     | ERS_D_Ld5.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdHydro                     | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld5.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdHydro.C.0618-145127de_int                     |
| 10 | MEMCOMP             | FAIL     | ERS_D_Ld5.f10_f10_mg37.I2000Clm50Fates.derecho_intel.clm-FatesCold                               | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld5.f10_f10_mg37.I2000Clm50Fates.derecho_intel.clm-FatesCold.C.0618-145127de_int                               |
| 10 | MEMCOMP             | FAIL     | ERS_D_Ld5.f19_g17.I2000Clm50BgcCru.derecho_intel.clm-default                                     | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Ld5.f19_g17.I2000Clm50BgcCru.derecho_intel.clm-default.C.0618-145127de_int                                     |
| 10 | MEMCOMP             | FAIL     | ERS_D_Mmpi-serial_Ld5.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_D_Mmpi-serial_Ld5.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold.C.0618-145127de_gnu                |
| 10 | MEMCOMP             | FAIL     | ERS_Ld5.f19_g17.I2000Clm45Fates.derecho_intel.clm-FatesCold                                      | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Ld5.f19_g17.I2000Clm45Fates.derecho_intel.clm-FatesCold.C.0618-145127de_int                                      |
| 10 | MEMCOMP             | FAIL     | ERS_Ld9.f10_f10_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdCH4Off                    | /glade/derecho/scratch/afoster/tests_0618-145127de/ERS_Ld9.f10_f10_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdCH4Off.C.0618-145127de_int                    |
|  7 | RUN                 | FAIL     | ERP_P256x2_Ld30.f45_f45_mg37.I2000Clm60FatesRs.derecho_intel.clm-mimicsFatesCold                 | /glade/derecho/scratch/afoster/tests_0618-145127de/ERP_P256x2_Ld30.f45_f45_mg37.I2000Clm60FatesRs.derecho_intel.clm-mimicsFatesCold.C.0618-145127de_int                 |
|  7 | RUN                 | FAIL     | SMS_D_Ld3.f09_g17.I2000Clm60FatesSpCruRsGs.derecho_gnu.clm-FatesColdSatPhen_prescribed           | /glade/derecho/scratch/afoster/tests_0618-145127de/SMS_D_Ld3.f09_g17.I2000Clm60FatesSpCruRsGs.derecho_gnu.clm-FatesColdSatPhen_prescribed.C.0618-145127de_gnu           | 
## Difference Data
| test                                                                                             |   ('diff', 'FATES_EFFECT_WSPEED') |   ('normalized_diff', 'FATES_EFFECT_WSPEED') |
|:-------------------------------------------------------------------------------------------------|----------------------------------:|---------------------------------------------:|
| ERP_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                             |                        0.00042606 |                                   0.00027069 |
| ERP_D_P128x2_Ld3.f19_g17.I2000Clm50FatesCru.derecho_intel.clm-FatesCold                          |                        0.00042606 |                                   0.00027069 |
| ERP_Ld3.f09_g17.I2000Clm50FatesRs.derecho_intel.clm-FatesCold                                    |                        0.00044224 |                                   0.00029078 |
| ERP_Ld9.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdAllVars                   |                        0.00053944 |                                   0.00031985 |
| ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_gnu.clm-FatesColdTwoStreamNoCompFixedBioGeo    |                        1.0166     |                                   0.58811    |
| ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_intel.clm-FatesColdTreeDamage                  |                        0.00054995 |                                   0.00030441 |
| ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_intel.clm-FatesColdTwoStream                   |                        0.00055205 |                                   0.00031482 |
| ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                               |                        0.00042606 |                                   0.00027069 |
| ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                             |                        0.00042606 |                                   0.00027069 |
| ERS_D_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLUH2                   |                        0.00058458 |                                   0.00034626 |
| ERS_D_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLandUse                |                        0.00053944 |                                   0.00031982 |
| ERS_D_Ld5.f10_f10_mg37.I2000Clm50Fates.derecho_intel.clm-FatesCold                               |                        0.0005843  |                                   0.00029334 |
| ERS_D_Mmpi-serial_Ld5.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                |                        7.3604e-06 |                                   2.2742e-05 |
| ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdFixedBiogeo              |                        0.00024043 |                                   0.00012357 |
| ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdNoComp                   |                        0.00047452 |                                   0.00025318 |
| ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdNoCompFixedBioGeo        |                        1.0282     |                                   0.60768    |
| ERS_Ld5.f19_g17.I2000Clm45Fates.derecho_intel.clm-FatesCold                                      |                        0.00055221 |                                   0.00032651 |
| ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-Fates                             |                        0.00056258 |                                   0.00031985 |
| ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLogging                  |                        1.3552     |                                   1.0085     |
| ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdPPhys                    |                        7.4595e-05 |                                   4.018e-05  |
| ERS_Ld9.f10_f10_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdCH4Off                    |                        0.00061804 |                                   0.00033207 |
| ERS_Lm12.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesFireLightningPopDens           |                        9.2089e-06 |                                   3.8077e-05 |
| ERS_Lm13.f10_f10_mg37.I2000Clm50Fates.derecho_gnu.clm-FatesCold                                  |                        0.0012151  |                                   0.00058345 |
| ERS_Lm13.f45_f45_mg37.I2000Clm50Fates.derecho_intel.clm-FatesColdNoComp                          |                        0.0017926  |                                   0.00083548 |
| ERS_P128x1_Lm25.f10_f10_mg37.I2000Clm60Fates.derecho_intel.clm-FatesColdNoComp                   |                        0.0067958  |                                   0.0029298  |
| SMS_Ld10_D_Mmpi-serial.CLM_USRDAT.I1PtClm60Fates.derecho_gnu.clm-FatesPRISM--clm-NEON-FATES-YELL |                        0.0002796  |                                   0.00022091 |
| SMS_Lm13.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                             |                        9.4802e-06 |                                   3.8057e-05 |
| SMS_Lm13.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                           |                        9.4802e-06 |                                   3.8067e-05 |
| SMS_Lm6.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-Fates                              |                        0.0010183  |                                   0.00063105 | 
## Timing Data
|    | name                                                                                                              |   lib_time |   build_time |   run_time |
|---:|:------------------------------------------------------------------------------------------------------------------|-----------:|-------------:|-----------:|
|  0 | ERP_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                                              |        186 |          121 |        225 |
|  0 | ERP_D_P128x2_Ld3.f19_g17.I2000Clm50FatesCru.derecho_intel.clm-FatesCold                                           |         75 |          131 |        274 |
|  0 | ERP_Ld3.f09_g17.I2000Clm50FatesRs.derecho_intel.clm-FatesCold                                                     |         28 |          139 |        231 |
|  0 | ERP_Ld9.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdAllVars                                    |         29 |          136 |        268 |
|  0 | ERP_P128x2_Ld30.f45_f45_mg37.I2000Clm60FatesSpCruRsGs.derecho_intel.clm-FatesColdSatPhen                          |         29 |          135 |        168 |
|  0 | ERP_P256x2_Ld30.f45_f45_mg37.I2000Clm60FatesRs.derecho_intel.clm-mimicsFatesCold                                  |        326 |          131 |         93 |
|  0 | ERS_D_Ld15.f10_f10_mg37.I2000Clm50FatesRs.derecho_gnu.clm-FatesColdSeedDisp                                       |        154 |           25 |        154 |
|  0 | ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_gnu.clm-FatesColdTwoStreamNoCompFixedBioGeo                     |         14 |           24 |        163 |
|  0 | ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_intel.clm-FatesColdTreeDamage                                   |        135 |           49 |        191 |
|  0 | ERS_D_Ld15.f45_f45_mg37.I2000Clm50FatesRs.derecho_intel.clm-FatesColdTwoStream                                    |          9 |           49 |        193 |
|  0 | ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                                                |         14 |           24 |        189 |
|  0 | ERS_D_Ld3.f19_g17.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                                              |         14 |           61 |        211 |
|  0 | ERS_D_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLUH2                                    |         11 |           61 |        299 |
|  0 | ERS_D_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLandUse                                 |         13 |           61 |        241 |
|  0 | ERS_D_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdPRT2                                    |         12 |           59 |        339 |
|  0 | ERS_D_Ld5.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdHydro                                      |         16 |           59 |        189 |
|  0 | ERS_D_Ld5.f10_f10_mg37.I2000Clm50Fates.derecho_intel.clm-FatesCold                                                |         44 |           50 |        173 |
|  0 | ERS_D_Ld5.f19_g17.I2000Clm50BgcCru.derecho_intel.clm-default                                                      |         15 |           69 |        294 |
|  0 | ERS_D_Mmpi-serial_Ld5.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                                 |          8 |           25 |        120 |
|  0 | ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdFixedBiogeo                               |         15 |           64 |        154 |
|  0 | ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdNoComp                                    |         14 |           64 |        188 |
|  0 | ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdNoCompFixedBioGeo                         |         17 |           62 |        162 |
|  0 | ERS_Ld30.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdSizeAgeMort                               |         14 |           61 |        158 |
|  0 | ERS_Ld30.f45_f45_mg37.I2000Clm60FatesSpCruRsGs.derecho_intel.clm-FatesColdSatPhen                                 |         14 |           60 |        137 |
|  0 | ERS_Ld5.f19_g17.I2000Clm45Fates.derecho_intel.clm-FatesCold                                                       |         17 |           70 |        191 |
|  0 | ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-Fates                                              |         15 |           60 |        185 |
|  0 | ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdLogging                                   |         14 |           58 |        193 |
|  0 | ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdNoFire                                    |         14 |           61 |        176 |
|  0 | ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdPPhys                                     |         14 |           62 |        198 |
|  0 | ERS_Ld60.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdST3                                       |         14 |           58 |        178 |
|  0 | ERS_Ld9.f10_f10_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdCH4Off                                     |         16 |           62 |        127 |
|  0 | ERS_Lm12.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesFireLightningPopDens                            |        314 |           52 |        523 |
|  0 | ERS_Lm13.f10_f10_mg37.I2000Clm50Fates.derecho_gnu.clm-FatesCold                                                   |        162 |           33 |       1412 |
|  0 | ERS_Lm13.f45_f45_mg37.I2000Clm50Fates.derecho_intel.clm-FatesColdNoComp                                           |         12 |           63 |        796 |
|  0 | ERS_P128x1_Lm25.f10_f10_mg37.I2000Clm60Fates.derecho_intel.clm-FatesColdNoComp                                    |        186 |           61 |       1644 |
|  0 | PEM_D_Ld15.f10_f10_mg37.I2000Clm50FatesRs.derecho_gnu.clm-FatesColdSeedDisp                                       |         13 |           25 |        207 |
|  0 | SMS_D.1x1_brazil.I2000Clm60FatesSpCruRsGs.derecho_intel.clm-FatesColdSatPhen                                      |         15 |           59 |        125 |
|  0 | SMS_D_Ld3.f09_g17.I2000Clm60FatesSpCruRsGs.derecho_gnu.clm-FatesColdSatPhen_prescribed                            |         11 |           26 |        119 |
|  0 | SMS_Ld10_D_Mmpi-serial.CLM_USRDAT.I1PtClm60Fates.derecho_gnu.clm-FatesPRISM--clm-NEON-FATES-YELL                  |        147 |           26 |         21 |
|  0 | SMS_Ld10_D_Mmpi-serial.CLM_USRDAT.I1PtClm60Fates.derecho_intel.clm-FatesFireLightningPopDens--clm-NEON-FATES-NIWO |        124 |           47 |         29 |
|  0 | SMS_Lm1.f45_f45_mg37.I2000Clm60FatesSpCruRsGs.derecho_intel.clm-FatesColdBasic                                    |         15 |           61 |         99 |
|  0 | SMS_Lm13.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_gnu.clm-FatesCold                                              |         54 |           21 |        359 |
|  0 | SMS_Lm13.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesCold                                            |         13 |           60 |        332 |
|  0 | SMS_Lm3_D_Mmpi-serial.1x1_brazil.I2000Clm50FatesCruRsGs.derecho_intel.clm-FatesColdHydro                          |         13 |           66 |        138 |
|  0 | SMS_Lm6.f45_f45_mg37.I2000Clm50FatesCruRsGs.derecho_intel.clm-Fates                                               |         14 |           58 |        249 | 
